@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100&display=swap');

/*görgető*/

::-webkit-scrollbar{
    width: 15px;
    height: 0px;

}


::-webkit-scrollbar-track{
    background-color: rgb(135, 139, 145);
    border: 4px solid rgb(128, 124, 124);
    box-shadow: inset  0 0 0px 2px  rgba(100, 183, 238, 0);
}

::-webkit-scrollbar-thumb{

    background:linear-gradient(
        transparent,
        #0b81c5,
        #054970
    );
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb:hover{

    background:linear-gradient(
        transparent,
        #1abde6,
        #054691
    );
    border-radius: 10px;
    
}
/* body */

body{
    
    
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url('főoldal.jpg')no-repeat;
    background-size: cover;
    
}

*{
    box-sizing: border-box
}


/* wrapper */

.wrapper{
    max-width: 1200px;
    margin: 0px auto;
    
}



/*oldal címe*/
.cím{
    
    border-color: rgb(0, 0, 0, 2px 2px 2px);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(146, 93, 63);
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin-top: 2px;
    letter-spacing: 4px;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 30px;
    

}

.fa-crown{
    font-size: 45px;
    color: goldenrod;
    padding-top: 20px;
    padding-bottom: 0px;
    
    padding-left: 50%;

}


/* italy felirat a menüsávon */

.italy{
    
    margin: 0px 100px 0px 10px;
    font-size: 60px;
    font-family: 'Lovers Quarrel', cursive;
    line-height: 60px;
    display: inline;
    float:right ;
    color: rgb(223, 190, 2);
    letter-spacing: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: auto;
    padding-right: 300px;

    
    
}

/* bar */

.bar{
    color: white;
    background-color: rgb(45, 93, 156);
    text-decoration: none;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 17px;
    padding-left: 17px;
    display: none;
    font-size: 18px;
    float: right;

}

/* menücímek aláhúzása */

.active{
    background-color: #fbfdff;
    color: goldenrod ;
    font-weight: 900;
    border: goldenrod solid 2px;
    border-bottom: goldenrod solid 4px;
}

.gazd{
    border-bottom: rgb(18, 219, 0) solid 6px;
}
.égh{
    border-bottom: white solid 6px;
}
.gaszt{
    border-bottom: red solid 6px;
}

/* menü elrendezése */

nav {
    
    background: rgb(4, 121, 189);
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;    
    
}

nav::after{
    content:'';
    clear: both;
    display: table;
}

nav a {
    
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 17px;
    padding-left: 17px;
    display: block;
    font-size: 18px;
}

nav a:hover{
    background: rgb(4, 70, 109);
    border-radius: 2px;
}

nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    

}

nav>ul>li {
    float: left;
}

nav .has-submenu {
    position: relative;
}

nav .has-submenu:hover .submenu {
    
    display: block;
    position: absolute;
}

nav .has-submenu::after {
    content:'🢓';
    color: white;
    position: absolute;
    top: 23px;
    right: 10px;
}

nav .has-submenu > a {
    padding-right: 33px;
}




nav .submenu {
    position: absolute;
    width: 180px;
    display: none;
}

nav .submenu a {
    background: rgb(45, 93, 156);
    padding: 10px 20px;
}

nav .submenu a:hover {
    background:rgb(4, 70, 109);
    padding: 10px 20px;
}









/*tartalom */
main{
    background:
    linear-gradient(
		rgb(48, 111, 212),
		transparent
	),
	linear-gradient(
		90deg,
		rgb(201, 228, 243),
		transparent
	),
	linear-gradient(
		10deg,
		rgb(93, 184, 226),
		transparent
	);
	
    background-blend-mode: screen;
    background-size: cover;
    padding: 40px;
    font-size: 25px;
    border-radius: -20px;
    font-family: 'Playfair Display', serif;
}

main{
    border: goldenrod solid 5px;
}

main p {
    line-height: 1.5;
}

main h1 {
    margin-top: 0;
}

/* gombos linkek */

.gombos-linkek ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 3;
       
}


.gombos-link1 ul button{
    
    
    padding: 15px 25px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(19,159,189,1) 100%);
    border: 0;
    border-radius: 20px;
    color: rgb(37, 35, 35);
    font-size: 20px;

    

}

.gombos-link1 ul button:hover{
    background: rgb(57, 234, 240);
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;

}


.gombos-link2 ul button{
    padding: 15px 25px;
    background: rgb(173, 250, 31);
    background: radial-gradient(circle, rgb(240, 250, 222) 0%, rgb(203, 253, 109) 0%, rgb(109, 177, 0) 100%);
    border: 0;
    border-radius: 20px;
    color: rgb(37, 35, 35);
    font-size: 20px;
    

}



.gombos-link2 ul button:hover{
    background: rgb(191, 243, 71);
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;

}



.gombos-link3 ul button{
    padding: 15px 25px;
    background: rgb(243, 65, 65);
    background: radial-gradient(circle, rgb(255, 193, 193) 0%, rgb(243, 94, 94) 0%, rgb(197, 53, 53) 100%);
    border: 0;
    border-radius: 20px;
    color: rgb(37, 35, 35);
    font-size: 20px;
    

}

.gombos-link3 ul button:hover{
    background: rgb(255, 83, 83);
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;

}



@media screen and (max-width: 992px){

    .italy{
        
        
        display: none;  
        
    }
}

@media screen and (max-width: 510px){

    

    .cím{
        font-size: 2rem;
    }

    .bar{
        color: white;
        text-decoration: none;
        width: 100%;
        height: 80px;
        max-width: 100%;
        text-align:center ;
        
        float: left;
        display: flex;
        font-size: 40px;
         
}



nav .has-submenu::after {
    content:none;
    color: white;
    position: absolute;
    top: none;
    right: none;
}


nav {
	background: rgb(45, 93, 156);
	width: none;
    float: none;
	text-align:center ;
	top: 0;
    left: 0;
	right: 0; 
    bottom: 0;
    position: relative;
	
}




nav a {
	color: white;
	text-decoration: none;
	padding: none;
	display: none;
}


}

